body {
  padding-top: 60px;
}

nav.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transition: background-color 0.3s ease-in-out;
}

nav.navbar.scrolled {
  background: #43C6AC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #191654, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

section {
  padding: 60px 0;
  background-image: url('wpp.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#sobre{
  height: 100vh;
}

section#sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

footer {
  padding: 20px 0;
  text-align: center;
}

@keyframes circuit-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -500px -500px;
  }
}

section#sobre {
  background-image: url(circuit-background.jpg);
  background-repeat: repeat;
  background-size: cover;
  animation: circuit-animation 100s linear infinite;
}

section#sobre {
  position: relative;
}

section#sobre::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.4;
}

section#sobre h1,
section#sobre h4:first-of-type {
  position: relative;
  z-index: 1;
  color: #fff;
}

.programador-imagem {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  margin-bottom: 5%;
}

.mb-10{
  margin-bottom: 15%;
}

@media (max-width: 1439px) {
  .mb-10 {
    margin-bottom: 25%;
    margin-top: 15%;
  }
  .programador-imagem img{
    width: 70%;
    height: 50%;
  }
  .mb-6{
    margin-top: 20px;
  }
  .mt-6{
    margin-top: 20px;
  }

}
@media (max-width: 567px) {
  .mb-10 {
    margin-bottom: 25%;
    margin-top: 20%;
  }
  .programador-imagem img{
    width: 56%;
    height: 10%;
  }
  .texto-diminuir{
    font-size: 20px;
  }
  .mb-6{
    margin-top: 5px;
  }
  .mt-6{
    margin-top: 10px;
  }
}
@media (max-width: 666px) {
  .mb-10 {
    margin-bottom: 25%;
    margin-top: 20%;
  }
  .programador-imagem img{
    width: 56%;
    height: 10%;
  }
  .texto-diminuir{
    font-size: 20px;
  }
  .mb-6{
    margin-top: 22px;
  }
  .mt-6{
    margin-top: 22px;
  }

}

.programador-imagem img {
  height: 10%;
  object-fit: cover;
  border-radius: 25%;

}

.programador-imagem img {
  transition: all 0.3s ease-in-out;
}

.programador-imagem img:hover {
  opacity: 0.8;
  border: 4px solid rgba(0, 255, 221, 0.4);
  box-shadow: 0 0 10px rgba(0, 255, 221, 0.4);
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  position: relative;
  transition: box-shadow 0.3s ease;
}

.button:hover {
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.8);
}

.button:active {
  animation: explode 0.2s forwards;
}

@keyframes explode {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.button:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid rgba(0, 123, 255, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.button:hover:before {
  opacity: 1;
}

.card {
  position: relative;
  width: 100%;
  height: 50%;
  padding-bottom: 50%;
  overflow: hidden;
}

.card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.3s; box-shadow: 0.3s;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s;
}

.card:hover .card-img {
  opacity: 0.8;
}

.card:hover .card-overlay {
  opacity: 1;
}

.sobre-mim {
background: #141E30;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 50px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.bg-claro{
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243b5549, #141e305b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

.sobre-mim.show {
  opacity: 1;
}

.sobre-mim h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.sobre-mim p {
  font-size: 18px;
}

.cor{
  color: #e8f3ff;
  font-size: 2em;
  display: block;
  background-color: #fff;
  color: #007bff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  font-size: 20px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.floating-button .fab {
  display: block;
  background-color: #007bff;
  color: #fff;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 50%;
  font-size: 24px;
  transition: background-color 0.3s ease;
}

.floating-button .fab:hover {
  background-color: #e8f3ff;
}

.floating-menu {
  position: fixed;
  bottom: 100px;
  right: 30px;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.floating-button.active + .floating-menu {
  opacity: 1;
  pointer-events: auto;
}

.floating-menu .fab {
  display: block;
  background-color: #fff;
  color: #007bff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  font-size: 20px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.floating-menu .fab:hover {
  background-color: #007bff;
  color: #fff;
}

.card-text,
.card-buttons {
  display: none;
}

.card:hover .card-text,
.card:hover .card-buttons {
  display: block;
}

.card {
  position: relative;
  overflow: hidden;
}

.card:hover .card-text {
  display: block;
}

.card-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s;
}

.card:hover .card-img-overlay {
  opacity: 1;
}
#avatar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  transition: transform 0.3s ease;
}

.navbar.toggled #avatar {
  transform: translateX(-50%) translateY(100%);
}
